.jumbotron{
    background-color: yellow;
    color: black;
}

footer{
    padding: 20px;
    background-color: yellow;
    margin: 10 px
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
}